<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find boiler_gazebo)/worlds/boiler_simulation.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  <include file="$(find gazebo_examples)/launch/robot.launch"/>
 
</launch>